.app-spacer {
  flex: 1 1 auto;
}

.app-toggle {
  font-size: 0.85rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  margin-left: 8px;
  cursor: pointer;
}

.app-sidenav-container {
  flex: 1;
}

.app-sidenav {
  min-width: 250px;
}

.mat-list-item span {
  margin-left: 10px;
}

.settings-list {
  position: fixed; 
  bottom: 0;
  padding-bottom: 10px;
}

.footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 77px;
}

p > a {
  color: white;
}

mat-sidenav-content {
  border-bottom-width: 77px;
  border-bottom-style: solid;
}