<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="sidenavRef.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 routerLink="/" class="app-name">Coris Dev</h1>
    <span class="app-spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenavRef class="app-sidenav" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/blocks">    
          <mat-icon>view_carousel</mat-icon>
          <span>Blocks</span>
        </a>
        <a mat-list-item routerLink="/transactions">
          <mat-icon>attach_money</mat-icon>
          <span>Transactions</span>
        </a>
      </mat-nav-list>
      <mat-list class="settings-list">
        <a mat-list-item>
          <mat-slide-toggle (change)="onToggleTheme()" class="app-toggle">Night Mode</mat-slide-toggle>
        </a>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-consensus-status></app-consensus-status>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
