<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      Height: {{ (consensus$|async).height }}
    </span>
    <span class="nav-spacer"></span>
    <mat-icon class="nav-icon" 
              routerLink="/blocks"
              aria-hidden="false" 
              aria-label="Example blocks icon">
      view_carousel
    </mat-icon>
    <mat-icon class="nav-icon"
              routerLink="/transactions" 
              aria-hidden="false" 
              aria-label="Example txs icon">
      attach_money
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
