.nav-icon {
  padding: 0 14px;
  cursor: pointer;
}

.nav-icon:hover {
  color: pink;
}

.nav-spacer {
  flex: 1 1 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  margin-left: 8px;
  cursor: pointer;
}

.app-sidenav-container {
  flex: 1;
}

.app-sidenav {
  min-width: 180px;
}