@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-teal, 600);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-warn:    mat-palette($mat-orange, 900);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme);
  
  td, th {
    border-color: #000000 !important;
  }

  .page-link:hover {
    background-color: #007bff;
    cursor: pointer;
  }
}


$dark-primary: mat-palette($mat-blue-grey, 900);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


.dark-theme {
  @include angular-material-theme($dark-theme);
  
  thead {
    background-color: #6c757d;
  }

  .page-link:hover {
    background-color: #6c757d;
    cursor: pointer;
  }
}

.table {
  color: inherit;
}

.page-link {
  background-color: inherit;
}

