 <div class="table-responsive">
  <table #tableRef class="table table-bordered" cdk-table [dataSource]="dataSource">
    <ng-container *ngFor="let col of displayedColumns" [cdkColumnDef]="col.def">
      <th cdk-header-cell *cdkHeaderCellDef> {{ col.def | titlecase }} </th>
      <td cdk-cell *cdkCellDef="let element"> 
        <span *ngIf="col.accessor; else elseCdkCell">
          {{ col.accessor(element) }}
        </span>
        <ng-template #elseCdkCell>{{ element[col.def] }}</ng-template>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="getColumns()"></tr>
    <tr (click)="onOpenModal(row)" cdk-row *cdkRowDef="let row; columns: getColumns();"></tr>
  </table>
</div>
<nav>
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="tableActivePage > 0 ? '' : 'disabled'">
      <a class="page-link" (click)="onTablePrevPage()">Previous</a>
    </li>
    <li *ngIf="tableActivePage > 0" class="page-item"><a class="page-link">{{tableActivePage}}</a></li>
    <li class="page-item active"><a class="page-link">{{tableActivePage+1}}</a></li>
    <li *ngIf="tableMaxPage > tableActivePage" class="page-item"><a class="page-link">{{tableActivePage+2}}</a></li>
    <li class="page-item" [ngClass]="tableMaxPage > tableActivePage ? '' : 'disabled'">
      <a class="page-link" (click)="onTableNextPage()">Next</a>
    </li>
  </ul>
</nav>